<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        漫画詳細
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= attachment_image_tag @comic, :image %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @comic.title %></p>
              </div>
              <% if current_user %>
                <strong>いいね数:　</strong>
              	<% if current_user.liked?(@comic) %>
                	 <%= link_to comic_likes_path(@comic), method: :delete do %>
                	   <i class="fas fa-heart"></i>
                   <% end %>
                <% else %>
                  <%= link_to comic_likes_path(@comic), method: :post do %>
                    <i class="far fa-heart"></i>
              	  <% end %>
              	<% end %>
              	<%= @comic.likes.count %>
              <% end %>
            </div>
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>詳細</th>
                </tr>
                <tr>
                  <td><%= simple_format @comic.body %></td>
                </tr>
              </table>
              <% if @comic.user.id == current_user.id %>
                <%= link_to "編集画面へ", edit_comic_path(@comic), class: "button is-success" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <article class="panel is-info">
          <p class="panel-heading">
            投稿者: <%= @comic.user.username %>
          </p>
          <div class="panel-block">
            <p class="control">
              <%= @comic.user.profile %>
            </p>
          </div>
          <%= link_to user_path(@comic.user), class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <%= @comic.user.username %> さんのページへ
          <% end %>
        </article>
        
        <article class="panel">
          <nav class="panel is-info">
            <p class="panel-heading">
              コメント
            </p>
          </nav>
          <div class="media-content">
            <div class="content">
              <% @comments.each do |c| %>
                <a href="/users/<%= c.user.id %>"><%= c.user.username %></a>
                <%= c.content %>
                <% if c.user.id == current_user.id %>
                  <%= link_to comic_comment_path(@comic, c), data: {confirm: '本当に削除しますか？'}, method: :delete do %>
                    <div class="buttons are-small">
                      <button class="button is-danger">
                        <span>削除</span>
                      </button>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
          <%= form_for [@comic, @comment] do |f| %>
            <%= f.text_area :content %>
            <%= f.hidden_field :comic_id, value: @comic.id %> 
            <br>
            <%= f.submit 'コメントする', class: "btn btn-primary" %>
          <% end %>
        </article>
      </div>
    </div>
  </div>
</section>

